@{
    ViewData["Title"] = "Vertical Form - Form Layouts";
}

<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h3 class="text-primary">Registration Tickets </h3>

        <form>
            <!-- Account Details Section -->
            <div class="mt-4">
                <h5 class="text-secondary">1. Tickets Details</h5>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="fullName" class="form-label font-weight-bold">Ticket Name</label>
                        <input type="text" class="form-control" id="fullName" placeholder="John Doe">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="fullName" class="form-label font-weight-bold">Amount</label>
                        <input type="text" class="form-control" id="fullName" placeholder="John Doe">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="fullName" class="form-label font-weight-bold">Description</label>
                        <input type="text" class="form-control" id="fullName" placeholder="John Doe">

                    </div>
                </div>



                <!-- Submit Button -->
                <div class="mt-4 text-right">
                    <button type="submit" class="btn btn-primary px-4 py-2">Submit</button>
                </div>
        </form>
    </div>
</div>


